@model Nop.Plugin.Payments.Tamara.Models.ConfigurationModel
@{
    Layout = "_AdminLayout";
}

<h2>@T("Plugins.Payments.Tamara.Fields.Configuration")</h2>

@using (Html.BeginForm("Configure", "Tamra", FormMethod.Post))
{
    <div class="cards-group">
        <div class="card card-default card-outline card-info" id="pnlOnboarding">
            <div class="card-header">
                Tamara Plugin Configureation
            </div>
            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.PublicKey, T("Plugins.Payments.Tamara.Fields.PublicKey"))
                    @Html.EditorFor(model => model.PublicKey, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PublicKey, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SecretKey, T("Plugins.Payments.Tamara.Fields.SecretKey"))
                    @Html.EditorFor(model => model.SecretKey, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SecretKey, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input type="submit" name="save" value="@T("Admin.Common.Save")" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}